
/**
*   Post-Type Capabilities view
*/
.arm_capabilities-card-view {
    margin-block: 2rem;
    max-width: 940px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
    gap: 1rem;
}

.arm_capabilities-card {
    border: 1px solid #c3c4c7;
    background-color: #fff;
    padding: 1rem;
}
.arm_capabilities-card h2 {
    margin-top: 0;
}

.arm_capabilities-card li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.arm_capabilities-card ul strong {
    font-weight: 200;
    color: #666;
}